services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - postgres
    volumes:
      - ./:/app
    env_file:
      - .env
    environment:
      ENV: development
    stop_grace_period: 30s

  postgres:
    image: postgres:17.9
    ports:
      - 127.0.0.1:5432:5432
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: mojiokoshin
    user: postgres:postgres
    stop_grace_period: 30s
