name: Lint

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  lint-go-code:
    name: Lint Go Code
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - name: Install native deps for opus
        run: |
          sudo apt-get update
          sudo apt-get install -y pkg-config libopus-dev libopusfile-dev

      - name: Lint Go Code
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.10.1
          args: --build-tags opus
