name: Test

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  test-go-code:
    name: Test Go Code
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - name: Install native deps for opus
        run: |
          sudo apt-get update
          sudo apt-get install -y pkg-config libopus-dev libopusfile-dev

      - name: Test Go Code
        run: CGO_ENABLED=1 go test -tags opus ./...
